{% extends 'nav_footer.html' %}
{%load static%}
{%block title%}
News
{%endblock title%}


{%block news%}
<main id="main">
  <!--Superindent New Year Messages-->
           <!-- New Messages -->
          <!-- ======= About Superintendent Zawolo Section ======= -->
          <section id="about-video" class="about-video">
            <div class="container" data-aos="fade-up">
        
              <div class="row">
        
              
        
                <div class="col-lg-4 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                  <img src="{% static 'assets/img/staffs/zawolo.jpg' %}" class="img-fluid" alt="">
                  <h5>Superintendent Zawolo's</h5>
                  <p>2023 New Year message Jan. 1, 2023</p>
            <p>To: Employees of the Monrovia Consolidated School System/MCSS 
             Yesterday, December 31, 2022, we bid farewell to 2022; a momentous year for
             us at the Monrovia Consolidated School System, MCSS, and my inaugural year
             as Superintendent. I am profoundly thankful to His Excellency Dr. George M.
             Weah for our preferment and Minister D. Ansu Sonii for his support in the first
             year of our leadership of the MCSS. Many thanks to Honorable Samuel D.
             Tweah, Jr and his team at the Ministry of Finance and Development Planning for
             their tremendous support. We are also grateful to the Director General of the
             Cabinet, Honorable Jordan Sulunteh, and other cabinet ministers for their
             unflinching commitment to the education of our children. Our gratitude extends
             to Senator Prince Moye, the Chairman of the Senate Standing Committee on
             Education and the Joint Education Secretariat of the House of Representatives
             and Senate. We remain forever grateful to the House of Representatives and the
             Liberian Senate for their belief in us.The support of our alumni and former
             students of the MCSS is also appreciated.</p>
             <span>The year was eventful-we achieved so much, and fell short in a couple of our
              targets, yet we worked together to rebrand the MCSS and delivered quality
              instruction in a cordial and peaceful atmosphere. For this, I am profoundly
              grateful to you, our administrators, principals, teachers, security officers,
              caretakers, parents and guardians, students, and community members.
              When we came to the position of Superintendent, we were clear about our
              vision and aspirations. We convened a series of meetings with stakeholders
              ranging from principals to students. We heard your concerns, cataloged your
              hope, and involved you in every stage of our initiative to ameliorate the MCSS.
              Our focus remains on the betterment of the situation at our schools, the
              improvement of the working condition for all employees, and the plight
              confronting our commitment to provide quality instruction. We had to make
              tough decisions, change some policies, reinstitute forgotten structures,
              restructure some schools, replace some principals, and reassign some teachers.
              We can boast that throughout the decision-making process, we utilized candid
              and robust deliberations involving the MCSS Parents Teachers Association
              (MCSS-PTA), the MCSS Teachers Association (MCSS-TA), the MCSS
              Principals Association (MCSS-PA), the MCSS Students Union (MCSS-TU), the
              MCSS Central Office Workers Association, the members of the Senior
              ManagementTeam (SMT), and a host of other stakeholders.
              In these
              deliberations, I learned a lot. I am proud of my leadership style-leading by
              consensus rather than a top-down approach. I remain committed to this in the
              coming year.
              As we commence the New Year, we must reflect on where we were at the dawn
              of 2022 and where we are now. To these ends, we beg to enumerate our
              accomplishments consistent with our Five Strategic Initiatives. So, join us as we
              do it!
              
              </span>
              </div>
        
        <div class="col-lg-4 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          ■EmployeeWelfare
          1. Working collaboratively with the MCSS-TA, we secured the payment of
          Two Hundred Fifty United States Dollars ($250.00) to each employee
          in the form of a handshake.
          2. We provided and continue to provide a breakdown of gross and net
          salaries of employees to eliminate uncertainty relative to expected salary.
          3. Completed all necessary paperwork and convened several meetings with
          the relevant authorities to actualize the salary adjustment for eligible
          employees.The adjustments, we have been informed, will take effect
          with the passage of the budget for the Fiscal Year 2023.
          4. Offered one scholarship to a female secondary school teacher to pursue
          graduate and possibly post-graduate studies in the People's Republic of
          China.
        
        5. Concluded negotiations with the United Bank of Africa, UBA, for
        friendly loans to employees earning a net income of atleastTwo Hundred
        United States Dollars ($200.00).
        6. Secured an agreement for emergency loans to eligible employees through
        “FinCredit”,a lending institution.
        7. Instructed Principals and Vice-Principals of Instruction to begin exploring
        the initiation of a four-day workweek for instructional personnel to
        reduce the cost of transportation.
        8. Developed plans to purchase a 32-seater bus and commenced the repair
        of the existing fleet to assist with the transportation of employees
        9. Developed plans to launch a $10,000USD Scholarship Fund for employees.
        10. Placed on payroll scores of volunteer employees including teachers,
        security officers, and caretakers.
        11. Provided access to education to wards of volunteer employees.
        12. Provided end-of-the-year stipend to volunteer security officers and
        caretakers.
        ■Academic Excellence
        1. The reactivation of the Content Specialist Position to enhance
        instructional supervision.
        2. The conduct of Subject Conferences at the start of Academic 2022/2023.
        3. Commenced the re-assignment of teachers to reflect training, experience,
        qualification, residency, and past performance.
        4. The addition of Early Childhood Development, ECD, and Accelerated
        Literacy Program, ALP, at all elementary schools with space availability.
        5. The creation of the position of ECD Coordinator and the running of
        monthly in-service training for all ECD teachers.
        6. Completed the refurbishing of Science laboratories at the D.Twe
        Memorial High School and reached finishing stage of the refurbishing of
        Science laboratories at the William V.S.Tubman High School.
        7.Developed system wide examination for students in the 5th, 8th and11th
        grades at all MCSS schools.
        ■Safe, Secure, Supportive, and Enticing Learning Environment
        1. The elimination of fees with the exception of PTA fees which is set at
        $1,900 Liberian dollars at all MCSS schools.
        2. The establishment of free ECD with daily feeding.
        3. The roofing and renovation of several schools including the Anna F.
        Whisnant, C.William Brumskine, Rebecca J.N. Wilson, St.Paul Bridge,
        Monrovia Elementary Demonstration School, and the Lorma Quarter
        Elementary School.
        4. The construction of a cafeteria at the Pipeline Junior and Senior High
        School.
        5.Fencing or the elevation of fencing at the William V.S.Tubman High
        School, G.W.Gibson High School, Boatswain Junior and Senior High
        School, and A.GlennTubman Elementary School.
        6.The construction of the first floor of a three-storey annex at the Boatswain
        Junior & Senior High School.
        7.The production and delivery of needed furniture to select schools.
        8.The development, with the involvement of administrators, teachers,
        parents, and students, of a systemwide student handbook.
        ■Organizationa lEfficiency
        1. The development of a plan to restructure the MCSS to include the
        position of Assistant Superintendent for administration, and the consolidation of departments to reduce the number of directors and thus
        create an opportunity for salary improvement to attracting highly qualified
        professionals.
        2. The redesigning of the supervisory structure and opening of offices for
        supervisors to ensure effective monitoring of supervisors and school
        personnel.
                  
        </p>
        </div>
        
        <div class="col-lg-4 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <p>
        
        3. The development of a systemwide intranet and continuation of the
        development of a student information management system.
        4. The introduction of students 'identification numbers.
        5. Provision of direct funding to schools based on enrollment.
        6. Conducted the first-ever Planning Retreat to develop a FiveYear Plan.
        7.Facilitated election of the MCSS to a Three-Years Term to the
        International Examination Committee of the West African Examination
        Council, WAEC.
        ■School Community Corporate Partnerships
        1. The establishment of a School-Corporate Partnership with Lonestar MTN
        wihch led to the opening of a computer lab at the G.W.Gibson High School.
        2.The engagement with the United States Agency for International Development, USAID which led to a commitment to rekindle the
        relationship between our two institutions.
        3.The securing of a commitment from the Embassy of the People’s
        Republic of China to consider providing assistance in the future.
        4.The painting of the building and delivery of school supplies to the Lorma
        Quarter Elementary School by CONEX Liberia.
        5.The supplying of transparent zinc sheets by the Greater Lioness Club of
        Monrovia to the Lorma Quarter Elementary School.
        6.Establishment of a Partnership with the University of Botswana.
        7.Held the first-ever MCSS Homecoming.
        Yet, as we revel in all of these accomplishments, we are not content-there is
        much more we can achieve. In fact ,the best is yet to come.
        As weblook forward to the new year, let me assure you of my continuous
        commitment to putting employees'welfare front and center of all we do.Only
        satisfied administrators, teachers, caretakers, and security officers can deliver on
        the promise to make the MCSS better. I can never ignore you and the need to
        improve your livelihood. That is why we made it clear in our last meeting with
        the MCSS-TA that we support a100% gradual increase in salary for all MCSS
        employees over a five-year period. We have also pledged to recommend to the
        National Legislature the capping of requests for rental payment from landlords to no more than six months to make housing affordable for teachers and other
        middle to low-income earners.
        As we have always indicated, I see myself first as a teacher and then as an
        administrator. So, what bothers you affects me. But,we cannot be oblivious to
        the competing priorities faced by the government and must be measured in our
        demands and aspirations.
        In this light, though there is no policy being developed by our HR and
        Administrative Consultant, Mr. Kla Wilson, and in the spirit of togetherness and
        broad-based decision-making, I am putting on hold, the introduction of our
        re-worked Employee Handbook pending the review of a committee to be set up
        by the Senior Management Team. As we prepare to form the committee, I will
        make the proposed handbook available in electronic form for your review. It is
        my hope that this decision will in no way be considered a sign of weakness but
        an indication of my leadership’s commitment to running a confrontation-free
        MCSS that we all can be proud of. Note that we do not necessarily have to agree
        on everything but when disagreements arise, we must summon the will to
        engage and collaborate to forge a common understanding, find an amicable
        solution and maintain our commitment to making the MCSS better.
        By this same token, let me caution those who thrive on pandemonium that we
        will never allow an ill-conceived and selfishly driven agenda to abort the level
        of tranquility we have laboriously secured at the MCSS.We embolden all to
        exhibit respect, appreciate the openness practicalized by my administration, and
        take advantage of our willingness to give each employee a voice. Let’s face the
        new year with renewed commitment, optimism, and the belief that we are
        stronger together.
        Happy NewYear and best wishes for your dreams  and aspirations.
        Hon. IsaacSaye-LakpohZawolo
        Superintendent/MCSS</p> <!--paragraph -3 end here-->
        
        </div>
        </div>
        </div> <!--End here-->

    
    <!-- ======= MCSS Alumni get together ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{%static 'assets/img/staffs/alumni1.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{%static 'assets/img/staffs/alumni2.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{%static 'assets/img/staffs/alumni5.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{%static 'assets/img/staffs/alumni6.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{%static 'assets/img/staffs/alumni-flyers.jpg' %}" alt="">
                </div>

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
            
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>On December 15, 2022</h3>
            </div>
            <p>
              The MCSS in recognition of the contribution of its alumni and former 
              students to the development of Liberia celebrates the USAID, its first partner.
              
            </p>
          </div>
 
  </section><!-- End About Video Section -->

          <!-- End here -->

        </div>

      </div>
    </section><!-- End of MCSS Alumni get together -->

  </main><!-- End #main -->


{%endblock %}
