{% extends 'MCSSAPP/nav_footer.html' %}
{%load static%}
{%block title%}
About MCSS
{%endblock title%}

{%block about-mcss %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About MCSS</h2>
        <h3>Education Strengthens a Nation</h3>
      </div>

      <div class="row content">
        <div class="col-lg-6 pt-4 pt-lg-0">
          <img src="{% static 'assets/img/staffs/MCSS-Building.jpg' %}" class="img-fluid" alt=""> 
          <p></p>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            The Monrovia Consolidated School System (MCSS) provides primary & secondary education to the population of Monrovia metropolitan area, Liberia.The MCSS was established by government in 1964 under the Act to Amend the Education Law to create the Monrovia Consolidated School System.
            The Monrovia Consolidated School System (MCSS) provides primary & secondary education to the population of Monrovia metropolitan area, 
            Liberia. The MCSS was established by government in 1964 under the Act to Amend the Education Law to create the Monrovia Consolidated
            School System. MCSS was created by a legislative enactment on December 24, 1964 to ensure proper and effective conduct 
            of schools in Monrovia & its environs in consonance with policies & regulations of the Ministry
            of Education. Prior to the creation of the (MCSS), schools in Monrovia were individually administered 
            by principals reporting directly to the Ministry of Education. The Memorandum of Understanding & the preliminary step to the establishment of the System was signed on 28, February 1963.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

   <!-- ======= Testimonials Section ======= -->
   <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Past & Present Superintdents</h2>
        </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Mr. Isaac Saye-Larkpor Zawolo, Present Superintendent November 24th, 2021 to Present.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/staffs/zawolo.jpg' %}" class="testimonial-img" alt="">
              <h3>Hon. Isaac Zawolo</h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Mr. Adolphus Benjamin Jacobs served as Superintendent from 2013 to 2021.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Adolphus.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Adolphus Benjamin Jacobs</h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Hon. Victoria W. Ducan served as superintdent from 2007-2011
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/portfolio/Superintendents-pics/Victoria-W-Ducan.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Victoria W. Ducan</h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Hon. Hester Williams Catakaw served as superintendent from 2004-2007
                
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Hester-William-Catawa.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon Hester Williams Catakaw</h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Hon. Hawa Bropleh served as 
                Superintendent from 2004-2004
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Hawa-Bropleh.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Hawa Bropleh </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Hon. Emmanuel G. Ricks served as 
                Superintendent from 1997-2004
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/G. Emmanuel- Rick.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Emmanuel G. Ricks </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Hon. Bertha K. Vawar served as 
                Superintendent from 1995-1996
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Bertha K. Vawar.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Bertha K. Vawar </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                
                Hon. Alois D. Monger served as 
                Superintendent from 1992-1995
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Alois-D-Monger.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Alois D. Monger </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                
                Hon. Bertha K. Vawar served as 
                Superintendent from 1995-1996
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Bertha K. Vawar.jpg' %}" class="testimonial-img" alt="">
              <h3>Hon. Bertha K. Vawar </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                
                Hon. Viola M. Flah served as 
                Superintendent from 1987-1990
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="" class="testimonial-img" alt="">
              <h3>Hon. Viola M. Flah </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                
                Hon. Arthur N. Manly served as 
                Superintendent from 1986-1987
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Arthur-N-Manly.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Arthur N. Manly </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                
                Hon. Wilmont K. Freeman served as 
                Superintendent from 1985-1986
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Wilmot-K-Freeman.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Wilmont K. Freeman </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                
                Hon. Joseph D. Kofa served as 
                Superintendent from 1979-1985
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Joseph-D-Kofa.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Joseph D. Kofa </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                
                Hon. J. Hodo Manston served as 
                Superintendent from 1976-1976
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Hodo-Manston.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. J. Hodo Manston </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                
                Hon. Matu I. Harding served as 
                Superintendent from 1974-1976
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Matuba-I-Harding.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Matu I. Harding </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                
                Hon. Emmanuel W. Johnson served as the first  
                Superintendent of MCSS from 1968-1974
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{%static 'assets/img/portfolio/Superintendents-pics/Emmanuel-W-Johnson.jpg'%}" class="testimonial-img" alt="">
              <h3>Hon. Emmanuel W. Johnson </h3>
              <h4>Superintendent</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End of all Superintendents slide -->

 
{%endblock about-mcss%}

